<h1>Create | Edit -- Todo Form</h1>

<button mat-raised-button color="primary" routerLink="/todos">Back to All Todos</button>

<br><br>

<h3>Choose Form Mode: </h3>
<mat-radio-group aria-label="Select an option"  (change)="formModeChange($event.value)">
  <mat-radio-button [checked]="true" value="Create">Create New Todo </mat-radio-button>
  <mat-radio-button value="Edit">Edit Todo </mat-radio-button>
</mat-radio-group>

<h2>{{ formMode }} Todo Form</h2> 
<form class="new-todo-form">

    <div *ngIf="formMode == 'Edit'">
      <label>Todo ID</label>
      <input type="number" matInput placeholder="Todo ID" [(ngModel)]='todo.todoID' name="todoID" (blur)="getinfoById($event.target.value)">
    </div>
    
    <div>
      <label>User ID</label>
      <input type="number" matInput placeholder="User ID" name="userID" [(ngModel)]='todo.userID' >
    </div>
    
    <div>
      <label>Title</label>
      <input type="text" matInput placeholder="Title" name="title" [(ngModel)]='todo.title'>
    </div>
    
    <div>
      <label>Body</label>
      <textarea matInput placeholder="Body" name="body" [(ngModel)]='todo.body'></textarea>
    </div>
    
    <div>
      <label>Date Created</label>
      <input type="date" matInput name="created" [(ngModel)]='todo.created'> 
    </div>
    
    <button mat-raised-button color="primary" (click)="submitTodo()">{{ formMode }}</button> 
  </form>
